
/*h1 {
  color: #8A8E27;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: #8A8E27;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color: #8A8E27;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
*/
p { 
  color: red; 
  font-family: Verdana;
  size: 50px;
  background-color: brown;
}

h1, h2, h3 {
  color: #2A278E;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
h1 { font-size: 1em; }
h2 { font-size: 2em; }
h3 { font-size: 4em; }

p.primero, h2.primero{
  font-size: 100px;
  background-color: aliceblue;
}

#segundo{
  margin: 20px 100px;
}